<div class="row mt-5">
  <!-- <div class="offset-1 col-9">
    <div class="row col-6">
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search product..."
        [(ngModel)]="searchText">
    </div>
    <div class=" float-right">
      <button class="btn btn-primary float-right my-2" routerLink="/crud2"><i class="fas fa-plus"></i> Add </button>
    </div>

  </div> -->
  <div class="offset-1 col-9">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of crud2; let i=index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ product.name}}</td>
          <td>{{ product.description}}</td>

          <td>
            <button class="btn btn-info" (click)="UpdateCrud(i)"> <i class="fas fa-pen"></i>
              Update</button>
            <button class="btn btn-danger ml-1" (click)="deleteUpdatedCrud(i)"> <i class="far fa-trash-alt"></i>
              Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <p>{{ currentDate | date:'fullDate' }}</p> -->
  </div>
</div>