<div class="row">
  <div class="offset-3 col-6">
      <form [formGroup]="addToDOForm" (ngSubmit)="ADD()">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name"placeholder="Type your Name here" formControlName="name">
        <div class="invalid-feedback d-block" *ngIf= "submitted && addToDOForm.controls.name.hasError('required')">
        The name is required.
    </div>
</div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description"placeholder="Type your Description here" formControlName="description">
    <div class="invalid-feedback d-block" *ngIf= "submitted && addToDOForm.controls.description.hasError('required')">
    The  Description is required.
</div>


</div>
<button type="submit" class="btn btn-primary">Save</button>
      </form>
  </div>



</div>