<div class="row">
  <div class="offset-3 col-6">
      <form action="">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="FirstName"placeholder="Type your Name here" formControlName="FirstName">
        <!-- <div class="invalid-feedback d-block" *ngIf= "submitted && registerForm.controls.FirstName.hasError('required')">
        The name is required.
    </div> -->
</div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description"placeholder="Type your Description here" formControlName="FirstName">
    <!-- <div class="invalid-feedback d-block" *ngIf= "submitted && registerForm.controls.FirstName.hasError('required')">
    The  Description is required.
</div> -->


</div>
<button type="submit" class="btn btn-primary">ADD</button>
      </form>
  </div>



</div>