<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr >
        <th scope="row">1</th>
        <td>{{ todo.name }}</td>
        <td>{{ todo.Description }}</td>
        <td><button class="btn btn-success">Update</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr> -->
    </tbody>
      </table>